/* .section{
    width: 1000px;
    height: 1000px;
    background-color: aqua;
} */

/* .mnm{
    width: 350px;
    height: 100px;
    background-color: blue;
} */

*{
    background-color: rgb(187, 174, 212);
}

.a1{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 90px;
    margin-left: 140px;
    border-radius: 0.1rem;
    display: inline-block;
}

.a2{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 90px;
    margin-left: 15px;
    border-radius: 0.1rem;
    display: inline-block;
}

.a3{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 90px;
    margin-left: 15px;
    border-radius: 0.1rem;
    display: inline-block;
}

.a4{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 90px;
    margin-left: 15px;
    border-radius: 0.1rem;
    display: inline-block;
}

.a5{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 90px;
    margin-left: 15px;
    border-radius: 0.1rem;
    display: inline-block;
}

.a6{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 140px;
    border-radius: 0.1rem;
}
.a7{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}

.a8{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}

.a9{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}

.a10{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}
.row{
    display: flex;
    flex-direction: row;
}
.a11{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 1px;
    margin-left: 350px;
    border-radius: 0.1rem;
}

.a12{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: -90px;
    margin-left: 490px;
    border-radius: 0.1rem;
    
}

.a13{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 490px;
    border-radius: 0.1rem;
}

.a14{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: -90px;
    margin-left: 350px;
    border-radius: 0.1rem;
}


.a15{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 140px;
    border-radius: 0.1rem;
}

.a16{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}

.a17{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}

.a18{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}

.a19{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}
.row2{
    display: flex;
    flex-direction: row;
}
.a20{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 140px;
    border-radius: 0.1rem;
}

.a21{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}

.a22{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}
.a23{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}
.a24{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 0.1rem;
}

.row3{
    display: flex;
    flex-direction: row;  
}

.a25{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: 15px;
    margin-left: 490px;
    border-radius: 0.1rem;
}

.a26{
    width: 120px;
    height: 90px;
    background-color: rgb(216, 208, 197);
    margin-top: -90px;
    margin-left: 350px;
    border-radius: 0.1rem;
}

.a01{
width: 70px;
height: 60px;
background-color: rgba(169, 169, 169, 0.622);
margin-top: 15px;
margin-left: 25px;
}

.a02{
    width: 70px;
    height: 60px;
    background-color:rgba(169, 169, 169, 0.738);
    margin-top: 15px;
    margin-left: 25px;
}

.a03{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.738);
    margin-top: 15px;
    margin-left: 25px;
}

.a04{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.727);
    margin-top: 15px;
    margin-left: 25px;
}

.a05{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.721);
    margin-top: 15px;
    margin-left: 25px;
}

.a06{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.735);
    margin-top: 15px;
    margin-left: 25px;
}

.a07{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.726);
    margin-top: 15px;
    margin-left: 25px;
}

.a08{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.711);
    margin-top: 15px;
    margin-left: 25px;
}

.a09{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.725);
    margin-top: 15px;
    margin-left: 25px;
}

.a010{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.727);
    margin-top: 15px;
    margin-left: 25px;
}

.a011{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.764);
    display: inline-block;
    margin-top: 14px;
    margin-left: 24px;
}

.a012{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.725);
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
}

.a013{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.726);
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
}

.a014{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.712);
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
}

.a015{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.753);
    margin-top: 15px;
    margin-left: 25px;
}

.a016{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.767);
    margin-top: 15px;
    margin-left: 25px;
}

.a017{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.753);
    margin-top: 15px;
    margin-left: 25px;
}

.a018{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.753);
    margin-top: 15px;
    margin-left: 25px;
}

.a019{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.747);
    margin-top: 15px;
    margin-left: 25px;
}

.a020{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.774);
    margin-top: 15px;
    margin-left: 25px;
}

.a021{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.747);
    margin-top: 15px;
    margin-left: 25px;
}

.a022{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.753);
    margin-top: 15px;
    margin-left: 25px;
}

.a023{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.774);
    margin-top: 15px;
    margin-left: 25px;
}

.a024{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.767);
    margin-top: 15px;
    margin-left: 25px;
}

.a025{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.74);
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
}

.a026{
    width: 70px;
    height: 60px;
    background-color: rgba(169, 169, 169, 0.733);
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
}


.a01:hover{
    transform: rotate(45deg);
    background-color: rgba(169, 169, 169, 0.724);
}

.a02:hover{
    transform: scale(1, 0.5);
    transition: all;
}

.a03:hover{
    transform: rotate(90deg);
    transition: all;
}

.a04:hover{
    transform: scale(2);
    transition: all;
}

.a05:hover{
   
    transition: all;
    transform: scale(2, 0.5);
}

.a010:hover{
    transform: translate(35px);

}

.a09:hover{
    transform: translate(10px, 10px);
}

.a08:hover{
    transform: skew(10deg, 25deg);
}

.a07:hover{
    transform: skew(40deg);
}
.a06:hover{
    transform: scale(0.5, 1.5);
}

.a011:hover{ 
    transform: translate(0, 35px); 
}

.a012:hover{
    transform: skew(60deg, 60deg);
}

/* .a013:hover{
 transform: perspective(100px) rotate(40deg);
} */

.a023:hover{
    transform: scale(2, 0.9);
    transform-origin: left;
}

.a025:hover{
    transform: translatey(20px);
    transform: scale(1, 2);
}

/* .a022:hover{
    transition: all 0.5s ease-in-out;
    transform-origin: bottom left;
} */


.a014:hover{
    transform: scale(0.7);
}

.a013:hover{
  
    transform: translate(-13px, 28px);
}


.a015:hover{
    transform: rotate(131deg) translateX(18px);
}

.a016:hover{
    transform: rotate(45deg) translateX(20px);
    transform-origin: center;
}

.a017:hover{
    transform: scale(0.4);
    transform-origin: center;
}


.a018:hover{
    transform: translate(36%, -16%);
}


.a019:hover{
    transform: rotate(-0.1turn);
}

.a020:hover{
    transform: translateX(66px) rotate(32deg);
}


.a021:hover{
    transform: scale(1.45);
    transform-origin: right bottom;
}

.a022:hover{
    transform: scale(1.45);
    transform-origin: left bottom;
}



.a023:hover{
    transform: scale(1.75, 1);
}

.a024:hover{
    transform: scale(0.45, 1);
}

.a026:hover{
    transform: scale(1.65, 1.1);
}